Wrong scope validation

[`RE_SCOPE_SPACE`](https://github.com/sebadob/rauthy/blob/fe35c77fad39f28c870eef6ca51162db5fc8582e/src/common/src/regex.rs#L64) used for scope validation does not match [RFC 6749, section 3.3](https://www.rfc-editor.org/rfc/rfc6749.html#section-3.3). For example, asterisks should be allowed in scopes, as well as many other punctuation characters.

It does not make any difference if it matches this RFC and it does not on purpose. 

The RFC basically sets the upper bound of allowed characters inside the url / token. But, since you can only request scopes that Rauthy has pre-defined for each client anyway, it makes no difference at all. The only difference it would make, is that users could specify more werid custom scope names, which does not bring any benefit. 

Keep them simple and easily readable leaves less room for typos and other errors. There is absolutely no need to allow additional special characters.