Allow attributes to be added at the top level instead of under the "custom" key

**Is your feature request related to a problem? Please describe.**
I came across this when trying to use rauthy with [Immich](https://immich.app/). Immich documents the process [here](https://docs.immich.app/administration/oauth#enable-oauth), and they also mention a `Role Claim` and a `Storage Label Claim` to automatically assign a user a `user/admin` role and to limit how much they can upload. 

Rauthy only emits custom claims in an object under the "custom" key. Though Immich only checks at the top level. You can see that here:

```ts
// https://github.com/immich-app/immich/blob/9d4a6614b149f23f6a6edb0b78d11ccccfa531f7/server/src/services/auth.service.ts#L618-L621
private getClaim<T>(profile: OAuthProfile, options: ClaimOptions<T>): T {
  const value = profile[options.key as keyof OAuthProfile];
  return options.isValid(value) ? (value as T) : options.default;
}
```
The [OpenID Spec](https://openid.net/specs/openid-connect-core-1_0.html#AdditionalClaims) doesn't mention any standard for OIDC about where custom keys should be placed. It points to [JWT RFC 7519 Section 4.3](https://datatracker.ietf.org/doc/html/rfc7519#section-4.3), which also makes no specification of where custom keys can go. Putting under "custom" isn't wrong, but apps might as only check the top level.

**Describe the solution you'd like**
Allow attributes to be emitted at the top level instead of under custom. 

**Describe alternatives you've considered**
I believe there are no alternatives for this one. This issue can be resolved in one of 2 ways:
- Ask all software that only checks top-level keys to also allow configuration to look at sub-objects.
- rauthy allows keys to be emitted at top-level.


> Ask all software that only checks top-level keys to also allow configuration to look at sub-objects.

That would be the way better solution. Actually, I am not aware of any other app that has issues.

> rauthy allows keys to be emitted at top-level.

This is nothing I have planned or consider a good choice. Everything is under `custom.` for a good reason. If this was not done, it would be very easy to create conflicts if admins don't know the internals of the RFCs. There are many reserved claims. This could only be avoided if either we maintain a blacklist of reserved keywords (a nightmare to maintain), or to simply don't care and throw errors in the UI, or even worse, silently ignore these claim mappings when they interfere. 

If we would allow this, this would not only mean either maintenance overhead or unexpected behavior, but it might also prevent protocol or feature updates in the future, that actually break existing systems that might have used a keyword that was fine back then, but becomes reserved because of an update.

However, if someone makes a solid PR that takes care of all the issues and edge cases, an option could be added for custom claims to that they are emitted at the root level instead (on a per scope basis). In this case though, a blacklist of reserved keywords is not the solution, but rather simply fail to issue tokens so that an admin has to debug that. Also, this must throw a warning in the UI that this might break at any time because of new features or protocol updates.

That sounds fair, I can only speak to my own experience integrating OIDC within immich, Kubernetes (w/o CEL) gitea, and paperless-ngx, which all only read from the top level. with respect to other oidc providers, top level is the default with providers like Auth0, Okta, Kanidm. Auth0 does have good [recommendations on namespacing](https://auth0.com/docs/secure/tokens/json-web-tokens/create-custom-claims) to prevent name collision.

Again, there's no standard, and therefore no wrong solution here. Though that lack of standard means that oidc consumers aren't wrong for only checking top level, and rauthy isn't wrong for nesting all keys under "custom". That said, I do think adding one configurable option to make it work in consumers that only read the top level would make things easier for admins using such software.

You mentioned for this PR you'd want to see:
- no blacklist
- emit at top level if boolean toggled at the scope level
- UI warning about possible conflict with RFC claims (maybe with a link to the [IANA page that lists all possible reserved jwt claims](https://www.iana.org/assignments/jwt/jwt.xhtml)? or a recommendation of namespacing the claim to ensure no collision)

What else would you like to see in a PR that implements this?

> Again, there's no standard, and therefore no wrong solution here. Though that lack of standard means that oidc consumers aren't wrong for only checking top level, and rauthy isn't wrong for nesting all keys under "custom". 

Definitely not. No one is wrong. Of course not.

Rauthy emits almost everything at the top level already. Clients usually read roles, groups, scopes, or some user values. All of these exist at the top level. It's only the custom, user-defined attributes that are under `custom`, which is why all applications I used with Rauthy so far are working just fine. Also, lots of clients can read a json path instead of only a simple key. The implementation to do this is pretty easy.

However, I just started the work for the next minor release, which will need additional DB migrations anyway. I guess the best solution is that I add a bool column to custom scope definitions, which, if set, will try(!) to emit the linked attrs at the token root. The token definitions could have an additional Map at the root, which `serde` then will flatten on serialization. I have not tried it, but it should work. The thing is that the token root is strictly typed, and we need a way then to dynamically insert any keys in addition.

As a blacklist, that's a bit tricky. I mean we would simply do a copy & paste of the one from the linked auth0 page for instance, which should be a good starting point. This would improve the UX at least a bit. But there still needs to be handling for edge cases, because the blacklist should never be seen as complete. We never know which values might be added in the future. So I would not try to maintain the blacklist in a way that it always guarantees to contain all problematic values, but rather see it as a 1st line of defense, or maybe help for the user. I don't know how `serde` behaves during serialization if there would be a key inside a flattened map that interferes with an already defined one. That just needs testing and the case needs to be handled properly. 

The UI warning is pretty important I would say. I would add a checkbox to custom scopes to enable this feature. Then always emit a warning when it's checked, that the admin is responsible for making sure that this operation actually works. This could be done maybe via checking logs during logins or something like that. A link to the list you mentioned would also be good. The only problem is, that list is just a snapshot of the current state. That's what I meant with any future additions could break workflows that were working in the past. It's also the reason why maintaing it can become a nightmare. Especially when you try to blacklist possible future updates, that might not even exist yet. 

This feature could also be enabled on a global level, which would make it less work to implement, but also less flexible. If we are doing it already anyway, I think custom scopes are the best place to do it.

Edit:

> What else would you like to see in a PR that implements this?

The most important things about this are unit tests that make sure it's impossible to define any config that either crashes Rauthy, or that can lead to invalid or maybe shadowed data. I would assume `serde` handles this, but I never tested it. The thing I have in mind here are duplicate keys in the final json, so that a later dynamic one might shadow a reserved claim.

I just pushed the DB migration. The idea for this would be something like:

https://github.com/sebadob/rauthy/pull/1596/changes

But exactly the `flatten` there needs testing in case of collisions. I am also not sure how a deserialization of a token with half static half dynamic values looks like, but I am pretty sure `serde` can do this as well.

This PR is of course only the DB migration. Then all the stuff around it is necessary to make it work. 